<!-- As a user I should be able to enter a url in a form and receive a shortened url as an integer(id) -->
<!-- When visiting this shortened url I should be redirected to the original url -->
<p id="notice"><%= notice %></p>

<h1>URL Shortener</h1>

<table class="highlight">
  <thead>
    <tr>
      <th>Turn your URL to a number!</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td>The shortened URL for <%= url.name %> is: <%= link_to "#{root_path}#{url.id}", url.name %>.</td>
        <!-- <td><%= link_to 'Show', url %></td> -->
        <td><%= link_to 'Edit', edit_url_path(url) %></td>
        <!-- <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+ New Url', new_url_path, class: "waves-effect waves-light btn-small green" %>
